In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dell\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [3]:
# Insert MySQL credentials
%sql mysql://root:!Two3456789@hostname:local_host/kotak_sakti

Traceback (most recent call last):
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 548, in create_engine
    u = _url.make_url(url)
        ^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\engine\url.py", line 838, in make_url
    return _parse_url(name_or_url)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\engine\url.py", line 899, in _parse_url
    components["port"] = int(components["port"])
                         ^^^^^^^^^^^^^^^^^^^^^^^
ValueError: invalid literal for int() with base 10: 'local_host'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in create_engine
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\util\deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 548, in create_engine
    u = _url.make_url(url)
        ^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\engine\url.py", line 838, in make_url
    return _parse_url(name_or_url)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\DELL\anaconda3\Lib\site-packages\sqlalchemy\engine\url.py", line 899, in _parse_url
    components["port"] = int(components["port"])
                         ^^^^^^^^^^^^^^^^^^^^^^^
ValueError: invalid literal for int() with base 10: 'local_host'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (2.0.23)
Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine
import pandas as pd

# Fill in MySQL credentials
username = 'root'
password = '!Two3456789'
hostname = 'localhost'
port = '3306'
database_name = 'kotak_sakti'

# Create the connection string
connection_string = f"mysql+pymysql://{username}:{password}@{hostname}:{port}/{database_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Test the connection
connection = engine.connect()
print("Connected to the database!")

# Load the ipython-sql extension
%load_ext sql

# Connect to the database using the created engine
%sql $connection_string

Connected to the database!
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%reload_ext sql

In [8]:
%%sql

SELECT * FROM kotak_sakti.invoices;

 * mysql+pymysql://root:***@localhost:3306/kotak_sakti
5 rows affected.

[(1, '20190001', Decimal('30.00'), Decimal('0.00'), Decimal('30.00'), 1, datetime.datetime(2019, 8, 7, 8, 13, 21), datetime.datetime(2019, 8, 7, 8, 13, 21)),
 (2, '20190002', Decimal('150.00'), Decimal('0.00'), Decimal('150.00'), 2, datetime.datetime(2019, 8, 7, 8, 13, 21), datetime.datetime(2019, 8, 7, 8, 13, 21)),
 (3, '20190003', Decimal('30.00'), Decimal('0.00'), Decimal('30.00'), 2, datetime.datetime(2019, 9, 15, 8, 13, 21), datetime.datetime(2019, 9, 15, 8, 13, 21)),
 (4, '20190004', Decimal('55.00'), Decimal('0.00'), Decimal('55.00'), 3, datetime.datetime(2019, 9, 15, 8, 13, 21), datetime.datetime(2019, 9, 15, 8, 13, 21)),
 (5, '20190005', Decimal('450.00'), Decimal('0.00'), Decimal('0.00'), 6, datetime.datetime(2019, 9, 15, 8, 13, 21), datetime.datetime(2019, 9, 15, 8, 13, 21))]

In [9]:
#b. Show the SQL query for number of customers purchasing more than 5 books


%%sql

WITH num_cust AS (
SELECT c.id, c.name, SUM(il.quantity) AS book_count
FROM customers c
JOIN invoices i ON c.id = i.customer_id
JOIN invoice_lines il ON i.id = il.invoice_id
GROUP BY c.id, c.name
HAVING SUM(il.quantity) > 5

)

SELECT COUNT(num_cust.id) AS customers_purchased_more_than_5_books
FROM num_cust

 * mysql+pymysql://root:***@localhost:3306/kotak_sakti
1 rows affected.

[(2,)]

In [10]:
%%sql

#c. Show the SQL query for a list of customers who never purchased anything 

SELECT c.id, c.name
FROM customers c
LEFT JOIN invoices i ON c.id = i.customer_id
WHERE i.customer_id IS NULL

 * mysql+pymysql://root:***@localhost:3306/kotak_sakti
2 rows affected.

[(4, 'Faiz Ma'), (5, 'Isham Rais')]

In [11]:
%%sql

#d. Show the SQL query for list of book purchased with the users

SELECT c.id, c.name, il.description
FROM customers c
JOIN invoices i ON c.id = i.customer_id
JOIN invoice_lines il ON i.id = il.invoice_id

 * mysql+pymysql://root:***@localhost:3306/kotak_sakti
8 rows affected.

[(1, 'Irfan Bakti', 'Book #1'),
 (2, 'Jack Smmith', 'Book #2'),
 (2, 'Jack Smmith', 'Book #3'),
 (2, 'Jack Smmith', 'Book #1'),
 (3, 'Nazir', 'Book #1'),
 (3, 'Nazir', 'Book #2'),
 (6, 'Shanon Teoh', 'Book #1'),
 (6, 'Shanon Teoh', 'Book #3')]